.chat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.left-message,
.right-message {
    background-color: #333bd3;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 60%;
}

.left-message {
    align-self: flex-start;
}
