
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: #ffffff;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  color: #ffffff;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  height: 80vh;
  background-color: #323232;
  border-radius: 10px;
  overflow-y: scroll;
}

.messagesBody {
  height: 100%;
  overflow-y: scroll;
}

/* Adding transition for a smoother color change */
* {
  transition: background-color 0.5s ease;
}
